@font-face {
  font-family: "Press Start 2P";
  src: url("assets/Press_Start_2P/PressStart2P-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: black;
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.index-body {
  margin: 0px;
  padding: 50px;
  overflow: auto; /* Allow scrolling if necessary */
}

.game-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  margin: 20px 0;
  padding: 10px 30px;
  /* border: 1px solid white; */
  font-weight: 300;
  /* outline: none;  Disabling the outline */
}

.title {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  margin: 20px 0;
  padding: 10px 30px;
  /* border: 1px solid white; */
  font-weight: 300;
  /* outline: none;  Disabling the outline */
}

.game-link:hover {
  background-color: white;
  color: black;
  font-weight: 300;
}
