@font-face {
  font-family: "Press Start 2P";
  src: url("assets/Press_Start_2P/PressStart2P-Regular.ttf");
  /* src: url('../assets/led-counter-7/led_counter-7.ttf'); */

  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: black;
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* Remove tap highlight on iOS */
}

.index-body {
  margin: 0px;
  padding: 50px;
  overflow: auto;
  /* Allow scrolling if necessary */
}

.game-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  margin: 20px 0;
  padding: 10px 30px;
  /* border: 1px solid white; */
  font-weight: 300;
  /* outline: none;  Disabling the outline */
}

.title {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  margin: 20px 0;
  padding: 10px 30px;
  font-weight: 300;
}

.title-wip {
  text-decoration: none;
  color: rgb(100, 100, 100);
  font-size: 16px;
  display: block;
  margin: 20px 0;
  padding: 10px 30px;
  font-weight: 300;
}

.game-link:hover {
  background-color: white;
  color: black;
  font-weight: 300;
}

.game-link-wip {
  text-decoration: none;
  color: rgb(100, 100, 100);
  font-size: 16px;
  display: block;
  margin: 20px 0;
  padding: 10px 30px;
  /* border: 1px solid white; */
  font-weight: 300;
}

.game-link-wip:hover {
  background-color: white;
  color: rgb(50, 50, 50);
  font-weight: 300;
}

.textInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: 32px;
  outline: none;
  width: 60%;
  text-align: center;
}

.button {
  font-family: "Press Start 2P", sans-serif;
  color: rgb(255, 255, 255);
  background-color: black;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  color: black;
  background-color: white;
}

.navbar {
  position: relative;
  z-index: 10; /* Ensure it's above the p5.js canvas */
}

canvas {
  touch-action: none; /* Prevent default touch actions */
}
